# Covid 19 Demo with Pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./full_grouped.csv')

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df[['Country/Region','Deaths', 'Active']]

           Country/Region  Deaths  Active
0             Afghanistan       0       0
1                 Albania       0       0
2                 Algeria       0       0
3                 Andorra       0       0
4                  Angola       0       0
...                   ...     ...     ...
35151  West Bank and Gaza      78    6791
35152      Western Sahara       1       1
35153               Yemen     483     375
35154              Zambia     140    1597
35155            Zimbabwe      36    2126

[35156 rows x 3 columns]

In [5]:
df.head(5)

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
0,2020-01-22,Afghanistan,0,0,0,0,0,0,0,Eastern Mediterranean
1,2020-01-22,Albania,0,0,0,0,0,0,0,Europe
2,2020-01-22,Algeria,0,0,0,0,0,0,0,Africa
3,2020-01-22,Andorra,0,0,0,0,0,0,0,Europe
4,2020-01-22,Angola,0,0,0,0,0,0,0,Africa

In [6]:
df.tail(10)

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
35146,2020-07-27,United Kingdom,301708,45844,1437,254427,688,7,3,Europe
35147,2020-07-27,Uruguay,1202,35,951,216,10,1,3,Americas
35148,2020-07-27,Uzbekistan,21209,121,11674,9414,678,5,569,Europe
35149,2020-07-27,Venezuela,15988,146,9959,5883,525,4,213,Americas
35150,2020-07-27,Vietnam,431,0,365,66,11,0,0,Western Pacific
35151,2020-07-27,West Bank and Gaza,10621,78,3752,6791,152,2,0,Eastern Mediterranean
35152,2020-07-27,Western Sahara,10,1,8,1,0,0,0,Africa
35153,2020-07-27,Yemen,1691,483,833,375,10,4,36,Eastern Mediterranean
35154,2020-07-27,Zambia,4552,140,2815,1597,71,1,465,Africa
35155,2020-07-27,Zimbabwe,2704,36,542,2126,192,2,24,Africa

In [7]:
df.iloc[88]

Date                         2020-01-22
Country/Region                   Jordan
Confirmed                             0
Deaths                                0
Recovered                             0
Active                                0
New cases                             0
New deaths                            0
New recovered                         0
WHO Region        Eastern Mediterranean
Name: 88, dtype: object

In [8]:
df['New cases']

0          0
1          0
2          0
3          0
4          0
        ...
35151    152
35152      0
35153     10
35154     71
35155    192
Name: New cases, Length: 35156, dtype: int64

In [9]:
df['New cases'].sum()

16500952

In [10]:
df['Recovered'].mean() # average

11048.134856070088

In [11]:
jordan_data = df[ df['Country/Region']=='Jordan' ] # All Jordan data

In [12]:
jordan_new_cases = jordan_data['New cases'] # Only 'New cases' column

In [13]:
average_new_cases_Jordan = jordan_new_cases.mean() # Calculate the mean

In [14]:
average_new_cases_Jordan

6.840425531914893

In [15]:
#Alternative way
df[ df['Country/Region']=='Jordan' ]['New cases'].mean()

6.840425531914893

In [16]:
# All data for Jordan where new cases > 20
jordan_data[jordan_data['New cases'] > 20]
# df[ df['New cases'] > 20 ]

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
11308,2020-03-22,Jordan,112,0,1,111,27,0,0,Eastern Mediterranean
11682,2020-03-24,Jordan,154,0,1,153,27,0,0,Eastern Mediterranean
12056,2020-03-26,Jordan,212,0,1,211,40,0,0,Eastern Mediterranean
12243,2020-03-27,Jordan,235,1,18,216,23,1,17,Eastern Mediterranean
13365,2020-04-02,Jordan,299,5,45,249,21,0,9,Eastern Mediterranean
13926,2020-04-05,Jordan,345,5,110,230,22,0,36,Eastern Mediterranean
19910,2020-05-07,Jordan,494,9,381,104,21,0,4,Eastern Mediterranean
20658,2020-05-11,Jordan,562,9,390,163,22,0,1,Eastern Mediterranean
22341,2020-05-20,Jordan,672,9,446,217,23,0,29,Eastern Mediterranean
25894,2020-06-08,Jordan,831,9,627,195,23,0,20,Eastern Mediterranean
26455,2020-06-11,Jordan,890,9,670,211,27,0,7,Eastern Mediterranean
26642,2020-06-12,Jordan,915,9,671,235,25,0,1,Eastern Mediterranean
26829,2020-06-13,Jordan,953,9,678,266,38,0,7,Eastern Mediterranean
28886,2020-06-24,Jordan,1071,9,782,280,24,0,10,Eastern Mediterranean

In [17]:
jordan_data[ jordan_data['New deaths'] > 1]

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
12617,2020-03-29,Jordan,259,3,18,238,13,2,0,Eastern Mediterranean
12804,2020-03-30,Jordan,268,5,26,237,9,2,8,Eastern Mediterranean

In [18]:
jordan_data[ jordan_data['Confirmed'] >300 ][jordan_data['New cases']>15].sort_values('Active', ascending=False)

<ipython-input-18-a20610340e52>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  jordan_data[ jordan_data['Confirmed'] >300 ][jordan_data['New cases']>15].sort_values('Active', ascending=False)

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
28325,2020-06-21,Jordan,1033,9,739,285,18,0,17,Eastern Mediterranean
28886,2020-06-24,Jordan,1071,9,782,280,24,0,10,Eastern Mediterranean
27203,2020-06-15,Jordan,979,9,692,278,18,0,10,Eastern Mediterranean
26829,2020-06-13,Jordan,953,9,678,266,38,0,7,Eastern Mediterranean
29260,2020-06-26,Jordan,1104,9,830,265,18,0,33,Eastern Mediterranean
26642,2020-06-12,Jordan,915,9,671,235,25,0,1,Eastern Mediterranean
22715,2020-05-22,Jordan,700,9,461,230,16,0,4,Eastern Mediterranean
13926,2020-04-05,Jordan,345,5,110,230,22,0,36,Eastern Mediterranean
22154,2020-05-19,Jordan,649,9,417,223,20,0,4,Eastern Mediterranean
22341,2020-05-20,Jordan,672,9,446,217,23,0,29,Eastern Mediterranean
26455,2020-06-11,Jordan,890,9,670,211,27,0,7,Eastern Mediterranean
21967,2020-05-18,Jordan,629,9,413,207,16,0,5,Eastern Mediterranean
25333,2020-06-05,Jordan,784,9,571,204,19,0,5,Eastern Mediterranean
25894,2020-06-08,Jordan,831,9,627,195,23,0,20,Eastern Mediterranean
26268,2020-06-10,Jordan,863,9,663,191,18,0,6,Eastern Mediterranean
20658,2020-05-11,Jordan,562,9,390,163,22,0,1,Eastern Mediterranean
20471,2020-05-10,Jordan,540,9,389,142,18,0,2,Eastern Mediterranean
19910,2020-05-07,Jordan,494,9,381,104,21,0,4,Eastern Mediterranean

In [19]:
# Average number of deaths in Jordan when the confirmed cases were > 300 and the daily new cases were > 15
jordan_data[ jordan_data['Confirmed'] >300 ][jordan_data['New cases']>15]['Deaths'].mean()

<ipython-input-19-231e355a30f3>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  jordan_data[ jordan_data['Confirmed'] >300 ][jordan_data['New cases']>15]['Deaths'].mean()

8.777777777777779

In [24]:
# Standard Deviation of deaths in Jordan when the confirmed cases were > 300 and the daily new cases were > 15
jordan_data[ jordan_data['Confirmed'] >300 ][jordan_data['New cases']>15]['Deaths'].std()

<ipython-input-24-0bbbbcf0865b>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  jordan_data[ jordan_data['Confirmed'] >300 ][jordan_data['New cases']>15]['Deaths'].std()

0.9428090415820634

In [20]:
# Average of every number combined for each country
combined_data = df.groupby('Country/Region').mean()

In [21]:
combined_data

,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered
Country/Region,,,,,,,
Afghanistan,10299.946809,261.159574,4245.957447,5792.829787,192.888298,6.750000,134.031915
Albania,1046.287234,30.361702,632.324468,383.601064,25.957447,0.765957,14.601064
Algeria,6275.292553,414.744681,4020.728723,1839.819149,148.792553,6.186170,100.196809
Andorra,502.148936,28.845745,367.414894,105.888298,4.824468,0.276596,4.271277
Angola,120.542553,5.734043,34.962766,79.845745,5.053191,0.218085,1.287234
...,...,...,...,...,...,...,...
West Bank and Gaza,1241.813830,7.287234,325.127660,909.398936,56.494681,0.414894,19.957447
Western Sahara,4.792553,0.335106,3.446809,1.010638,0.053191,0.005319,0.042553
Yemen,357.340426,94.186170,126.484043,136.670213,8.994681,2.569149,4.430851
Zambia,688.409574,14.058511,444.739362,229.611702,24.212766,0.744681,14.973404
Zimbabwe,270.180851,4.686170,64.930851,200.563830,14.414894,0.191489,2.882979

In [22]:
# The top 5 country in number of new cases where number of deaths > 1000 sorted by number of confirmed cases decending
top_deaths = combined_data[combined_data['Deaths']>1000].sort_values('New cases', ascending=True).tail(5).sort_values('Confirmed', ascending=False)

In [23]:
top_deaths[['Deaths','New cases','Confirmed']]

                      Deaths     New cases     Confirmed
Country/Region
US              58571.335106  22820.521277  1.193330e+06
Brazil          20946.989362  12991.356383  4.761966e+05
Russia           3294.601064   4344.042553  2.415341e+05
India            5913.994681   7872.728723  2.174652e+05
Mexico           9192.962766   2103.664894  7.950107e+04